*.iml
.idea
target
bower_components
node_modules
built
node
*.log
asciidoctor.css
README.html
dump.rdb
package-lock.json
errorShots
coverage
.vscode
!.vscode/extensions.json
yarn.lock
.settings/
.vscode/
.classpath
.project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json