body {
    background-color: #E1E2E1;
    color: #37474f;
}

div.navbar-header,
.btn-primary {
    background-color: #80ccc4;
}

.btn-primary {
    border-color: #80ccc4;
}

.btn-primary:hover {
    background-color: #609c95;
    border-color: #609c95;
}

.logout {
    color: #37474f;
    font-weight: 700;
}

.logout:hover,
.nav-link:hover {
    color: white !important;
}

.main-load-spinner {
    text-align: center!important;
}

.main-load-spinner .spinner-border {
    width: 5rem;
    height: 5rem;
    margin: 3rem!important;
}

.batch-jobs-table,
.launch-batch-job,
.batch-target-state-buses-table {
    padding: 2rem 4rem;
}

.batch-jobs-table-content,
.launch-batch-job-content,
.batch-target-state-buses-table-content {
    padding: 1rem;
    border: .2rem solid #c4c4c4;
    border-radius: 8px 8px 8px 8px;
    background-color: #f0f0f0;
}

.batch-jobs-table-content table,
.batch-target-state-buses-table-content table {
    background-color: #fff;
}

.badge.badge-secondary {
    margin-bottom: 1.5rem;
}

.batch-jobs-table tr.bg-success.progress-bar-striped,
.batch-jobs-table tr.bg-danger.progress-bar-striped {
    color: #ffffff;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}

.toast.show {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -70px;
    margin-top: -50px;
}

.promoted-job-badge {
    margin-left: 1rem;
}

.promoted-job-badge .badge.badge-primary {
    background-color: #80ccc4;
    border-color: #80ccc4;
}

.badge.hide {
    display: none;
}